@import "../../App.scss";
.title-module {
    color: $text-color;
    background-color:$backgd-color;
    width: 71%;
    height: 52px;
    border-radius: 5px;
    font-family: Montserrat;
    font-weight:700;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
  
.title {
    margin-left: 15px;
    margin-top:10px;
}
.arrow {
    margin-right: 15px;
    margin-top:10px;
    i {width: 24px;
      height: 13px; }
  } }
  .description-module {
    color: black;
    background-color:#F6F6F673;
    margin-top: 0;
    margin-bottom: 30px;
    border-radius: 5px;
    box-sizing: border-box;
  }
  .ModulesAbout{
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center;    
  .collapse {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
    margin-top: 20px;
    width: 81%;
}
}

@media (max-width: 400px) {
  main {min-height: 65vh;}
  .ModulesAbout .collapse{ 
    width: 90%; height: 30px; 
    margin-bottom: 20px;
    .title{font-size: 13px; font-weight: 700;} 
    .arrow{width: 16px; height:9px; margin-bottom: 20px; margin-right: 25px;}
    .open{margin-bottom: 50px;}
    }
    div.collapse.open{
      margin-top:80px;
      margin-bottom: 30px;}
}