header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  p {
    margin-right: auto;
  }
}

nav {
  display: flex;
  margin-right: 15px;
  a { margin-left: 57px;}
}

footer {
    background-color: black; 
    color: white; 
    text-align: center;
    align-items: center;
    height: 209px; 
   p {
      margin: 10px 0;
    }
  }
  