header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  p {
    margin-right: auto;
  }
}

nav {
  display: flex;
  margin-right: 15px;
  a { margin-left: 57px;}
}

footer {
    background-color: black; 
    color: white;
    height: 209px;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  