  .card-figure {
    margin:0;
    padding: 25px;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
  }
  
  .card-img {
    width: 100%; /* La largeur totale de la carte */
    height: 100%;
    border: 1px solid #ddd; /* Bordure pour la carte, vous pouvez personnaliser */
    border-radius: 8px; /* Coins arrondis, vous pouvez ajuster selon vos préférences */
    overflow: hidden; /* Masquer le dépassement d'image si elle est plus grande que la carte */
  
    /* Ajustez ces styles selon le contenu de votre carte */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre douce pour un effet de profondeur */
  }
  .card img {
    width: 100%;
    height: auto;
    display: block; /* Éliminez l'espace supplémentaire sous l'image en la rendant un élément de bloc */
  }
  
  .card-info {
    text-align: center;
  }