.title-module {
    color: '$text-color';
    background-color: '$backgd-color';
    width: 71%;
    height: 52px;
    border-radius: 5px;
    font-family: Montserrat;
    font-weight:700;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
  }
  
.title {
    margin-left: 15px;
    margin-top:10px;
}
.arrow {
    margin-right: 15px;
    margin-top:10px;
    svg {width: 32px;
      height: 32px; }
}
  .description-module {
    color: black;
    background-color:#F6F6F673;
    width: 71%;
    margin-top: 0;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 20px;
  }

  .collapse {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
    margin-top: 20px;
    p {
        padding: 15px;
      }
}

@media (max-width: 400px) {
  .description-module p{font-size: 10px;}
}