/*
boutons placés à droite et gauche et il faut que ça soit des icons
dans le fichier jsx, ajouter le nombre de pages en bas de l'img gallery

textes header layout (css)

modif type icon star + taille 
*/

.carousel {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin:0;
    .image-container{
        width: 100%;
    }
    img{
    width: 100%;
    height: 415px;
    border-radius: 25px;
    object-fit: cover;
    }
}
.controls {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    width: 100%;
    button {
        background: transparent;
        border: none;
        cursor: pointer;
        font-size: 64px;
        color: white;
        padding: 0;
        margin: 0;
    }
}

.image-count {
    position: absolute;
    bottom: 25px; 
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 18px;
}

.infoLogement {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items:flex-start;
    width: 70%; 
    order: 1;
    margin:0;
    .location-title {
        font-family: Montserrat;
        font-weight:500;
        font-size: 36px;
        line-height: 51px;
        text-align: left;
        margin:0;
    }
    
    .location-location {
        font-family: Montserrat;
        font-size: 18px;
        font-weight: 500;
        margin:0;
    }
    .tags {
        display: flex; 
        align-items: center;
    .tag {
        margin-right: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 140px;
        height: 25px;
        border-radius: 10px;
        background-color: #FF6060;
        color: white;
        font-weight: 700;
        font-size: 14px;
        line-height: 19px;
        white-space: nowrap;
      }
    }      
}

.infoLoueur {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items:flex-end;
    order: 2;
    width: 30%;
    margin:0;
    .nomImageLoueur{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap:10px;
        h3 {
            display: flex;
            flex-direction: column;
            margin:0;
            color:#FF6060;
            font-size: 18px;
            font-weight: 500;
            font-family: Monserrat;
        }
        img{
            border-radius: 75px;
            width: 64px;
        } 
        .loueurName{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}

.modules {
    display: flex;
    flex-direction: row; /* Direction des éléments en ligne */
    gap: 70px;
    order:3;
    width: 100%;
}
.collapse {
    width: 50%;
    margin-bottom: 20px;
.title-module {
align-items: center;
width: 100%;
svg{width:28px; height:28px;}
span {font-family: Montserrat;
font-weight: 700;
font-size: 18px; 
margin-top: 0;}
}
.description-module{ 
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}
    p{
        margin:15px;
        padding: 0;
    }
    .equipments { margin: 15px;
        p{margin:0;
        padding: 0;}}
}

.locationWrapper {
    display: flex;
    flex-wrap: wrap;
  }  
  
  @media (max-width: 768px) {
    .carousel,
    .infoLogement,
    .infoLoueur {
      width: 100%; /* Sur les écrans plus petits, occupe toute la largeur */
    }
  
    .infoLogement,
    .infoLoueur {
      order: 2; /* Change l'ordre pour les petits écrans */
    }
  }
  