h1 {
    font-family: Montserrat;
   font-size: 288px;
    font-weight: 700;
    letter-spacing: 0em;
    text-align: center;
    color: "$backgd-color";
    ;
  }
  
.ErrorMsg {
    width: 70%;
    margin:auto;
    font-family: Montserrat;
    font-size: 36px;
    font-weight: 500;
    line-height: 51px;
    letter-spacing: 0em;
    text-align: center;
    color: "$backgd-color";
    margin-bottom: 130px;
}

.ReturnHome {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: center; 
    margin-bottom: 130px;
    color:black;
}

@media (max-width: 400px) {
    .errorH1{ font-size: 96px; }
    .ErrorMsg{ font-size: 18px;line-height: 26px;}
    .ReturnHome{font-size: 14px;}
}